@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';
    text-decoration: none;
    box-sizing:border-box;
    /* outline:solid red; */
}

body {
   
/* overflow-x:  hidden; */
   
background-color: #F2F2F2;
   
background-image:url(./assets/bg-main-mobile.png);
   
background-repeat: no-repeat;
   
background-position: Top -200px right -200px;
}


.logo-header{
   padding-left: 6.4%;
   padding-top:40px;
   width: 100%;
   box-sizing: border-box;
} 
 .main-info-box{
    display: flex;
    flex-direction: column;
    margin-top:64px;
    padding-left:6.4%;
    
   
    
}

.extraordinary-sound{
    
font-family: 'IBM Plex Sans';
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.454545px;
color: #191826;
width: 327px;
height: 155px;

}
.system-audio{
 font-family: 'IBM Plex Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #191826;
 width:327px;
 height:156px;
 margin-top:20px;
}
 
.first-section{
    
    background-image: url(./assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 50% ;
    margin-top:166px;
    width:100%;
    height:600px;
    background-color: #191826;
    border-radius:12px;
    position: relative;
    
    
    
}



.img-mobile{
    
height:430px;
    
position: relative;
    
margin-bottom:48px;
    
padding-left:80px;
    
bottom:100px;
    
width: 270px;
}

.orange-div{padding-left: 24px;background-color:  #FA7453;height:546px;width: 375px;border-radius: 12px;top:380px;position:absolute;/* margin:auto; */}
.premium-EQ{
    padding-top:48px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FCFAF9;
    width: 302px;
    /* height: 40px; */
}

.Expert-level{
    padding-top:12px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9;
    Width:302px;


}

.dollar{
    
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color:#FCFAF9;
    margin-top:45px;
    display: flex;
    align-items:center;

}

.dollar span {
    
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color:#FCFAF9;


}


.button-div{

    display: flex;
    flex-direction: column;
    width: 296px;
    height: 61px;
    border-radius: 12px; 
    position: relative;   
    padding-top:32px;
    gap:16px;
}

.ios-button{
    border-radius: 12px;
    background: #191826;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color:#FCFAF9;
    /* cursor: pointer; */
    width: 296px;
    padding: 15px;
    height: 61px;
}

.android-button{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* cursor: pointer; */
    background: #FCFAF9;
    color:#191826;
    padding:15px;
    border-radius: 15px;
    height: 61px;
}

/* .ios-button:hover{
    background-color:#66E2DC; 
}

.android-button:hover{
    background-color: #FFB964;
} */

.footer-div{
    background-color: #F2F2F2;
    margin-top:397px;
    padding-left:24px;
    box-sizing: border-box;
}


.bold-text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#191826;
    width: 327px;
    height: 105px;
    padding-top:32px;
    display:flex;
    flex-direction:  column;
}
.icons-div{
    padding-top:64px;
    gap:20px;
    display: flex;
    margin-bottom:80px;
}


@media screen and (min-width:768px) {

    body{
        background-image: url(./assets/bg-main-tablet.png), url(./assets/bg-pattern-1.svg);
        background-repeat: no-repeat,no-repeat;
        background-position: top -277px left -402px, top -40px right -34px;
        text-decoration: none;
    }

    
    


.extraordinary-sound{
    font-size: 64px;
    line-height: 64px;
    width: 520px;
    height: 192px;
}

.system-audio{
font-size: 18px;
line-height: 28px;
width: 514px;
height: 112px;
}

.equalizer-div{
    margin-top: 111px;
}



.first-section{
    
background-position: top 1px right 1px;
background-image: url(./assets/bg-pattern-2.svg);
background-repeat: no-repeat;
background-position: top 0 left 45%;
width: 696px;
height:600px;
position: relative;
margin: 249px auto 183px;
}


.main-info-box{

    margin-top: 189px;
}


 
.orange-div{

background-position: top 89px right 50px;
background-color:  #FA7453;
border-radius: 12px;
width: 399px;
height:546px;
position: absolute;
top: 150px;
right: 58px;
padding-left: 50px;
}


.footer-div{
    margin-top:87px;
    padding-bottom:85px;
    padding-left:33px;
}






.bold-text{

height: 79px;
width: 366px;


}




.text-icons-div{
    display:flex;
    justify-content: space-between ;
    padding-right:39px;
    padding-bottom:115px;
}

.icons-div{
    gap:20px;
    display: flex;
    
}




}


